
.cart__hover {
    font-size: 1rem;
    color: black;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;

    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 5px;
    background-color: white;
    border: solid 1px black;
    padding: 0px;
    width: 240px;
    text-align: left;

    &--visible {
        display: block;
    }

    button {
        width: 100%;
        border: 0px;
        background-color: grey;
        color: white;
        padding: 10px 0px;
        margin-top: 2px;
        transition: background-color 250ms;
        &:hover {
            background-color: #525252;
        }
    }

}

.cart__hover-item {
    padding: 8px 0px;
    position: relative;
    transition: background-color 250ms;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:nth-child(odd) {
        background-color: #f0f0f0;
    }
    &:hover {
        background-color: #e6e6e6;
    }
    .icon {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 4px;
        margin: auto;
        line-height: 1em;
        font-size: 17px;
    }
}

.hover-item__quantity {
    margin: 0;
    padding: 0px 5px;
}

.hover-item__name {
    padding: 0px 5px;
    margin-bottom: 0px;
    padding-right: 30px;
}

.cart__hover-no-items {
    padding: 10px;
}

.cart-notification {
    h3 {
        font-weight: normal;
    }
}

.cart-notification__image {
    width: 35%;
    margin-right: 15px;

    img {
        width: 100%;
    }
}

.cart-notification__inner {
    display: flex;
    flex-direction: row;
}

.cart-notification__info {
    flex: 1;

    h4 {
        font-weight: normal;
        margin: 0px;
        margin-bottom: 0.5rem;
    }
}

.cart-notification__terms {
    line-height: 0px;
}

.cart-notification__term {
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    margin-left: 0px;
    margin-right: 6px;

    .term {
        margin: 0px !important;
    }

    .term.term--default {
        width: 24px;
        height: 24px;
        line-height: 24px;

        h3 {
            font-size: 1rem;
        }
    }

    .term.term--color {
        width: 20px;
        height: 20px;
    }
}
