
.image-input {
    display: inline-block;
    position: relative;
    height: 150px;

    img.ui.image {
        margin: 0;
    }

    .ui.icon {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.ui.small.image.image-input__placeholder {
    background-color: #d0d0d0;
    font-size: 2.5rem;
    height: 150px;

    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        line-height: normal;
    }

    input {
        display: none;
    }
}


.image-input__list-element {
    display: inline-block;
    position: relative;

    img.ui.image {
        margin: 0;
    }

    .ui.icon {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.image-input__list {
    .ui.small.image {
        height: 150px;
    }

    .draggable-list {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .draggable-list__item {
        display: inline-block;
    }

    .image-input__placeholder {
        margin: 0px;
    }
}
