
.product-grid {
    margin: -14px 0px 40px;

    .ui.grid {
        margin: 0px;
    }

    .column {
        text-align: center;
        padding: 1rem !important;
    }
}

.product-grid__product {
    color: black;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    box-shadow: 0px 0px 7px 0px #bdbdbd;
    transition: all 200ms;
    background-color: white;

    &:hover {
        transform: scale(1.03, 1.03);

        .product-grid__actions {
            opacity: 1;
            bottom: 0px;
        }
    }
}

.product-grid__images-wrapper {
    position: relative;

    &--no-image {
        .product-grid__actions {
            bottom: 0px;
            opacity: 1;
            position: static;
            padding-top: 15px;
            font-size: 1.3rem;
            padding-bottom: 5px;
        }
    }
}

.product-grid__actions {
    position: absolute;
    width: 100%;
    bottom: 4px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px 0px;
    font-size: 1.6rem;
    color: black;
    transition: all 300ms;
    bottom: -20px;
    opacity: 0;
    text-align: center;

    .icon {
        cursor: pointer;
        margin: 0px 5px !important;

        &.shopping.bag {
            &:hover {
                color: #005aff;
            }
        }

        &.heart {
            &:hover {
                color: red;
            }
        }
    }
}

.product-grid__content {
    padding: 2px 15px 12px;
    text-align: center;
    display: block;
    color: black;
}

.product-grid__name {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 5px 0px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1rem;
}

.product-grid__price {
    font-size: 2rem;
    color: inherit;
}

.product-list__product {
    display: flex;
}

.product-list__content {
    padding: 10px 15px;
}

.product-list__price {
    font-size: 1.5rem;
}

.product-list__actions {
    @extend .product-grid__actions;
    display: block;
    opacity: 1;
    position: static;
    width: auto;
    padding: 0px;
    margin-top: 20px;
    position: relative;
    bottom: 0px;
    left: -5px;
}

.product-list__description {
    margin-top: 15px;
}