
.product-filter {
    .sidebar-section__content {
        .ui.checkbox {
            display: block;
            margin: 11px 0px;
        }
    }
}

.product-filters__term {
    &--color {
        display: inline-block;
    }
}

.category-term {
    cursor: pointer;
    padding-left: 12px;

    a {
        color: rgba(0,0,0,.87);

        &.category-term--active, &:hover {
            font-weight: bold;
        }
    }


}