
.category-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0px 40px;
}

.category-list__category {
    width: 25%;
    overflow: hidden;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 200ms;

    img {
        width: 100%;
    }

    &:hover {
        transform: scale(1.03, 1.03);
    }
}

.category-list__name {
    color: black;
    text-overflow: ellipsis;
    font-size: 1.3rem;
    color: black;
    text-transform: uppercase;
    margin: 10px 0px !important;
    font-weight: normal;
}

.category-list__content {
    text-overflow: ellipsis;
    text-align: center;

    p {
        font-family: 'Raleway',sans-serif;
        font-size: 14px;
        color: #676767;
    }
}

.category-list__image-placeholder {
    width: 100%;
    padding-bottom: 131%;
    background-color: #cccccc;
}