
.list__-2068594430 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product__-2068594430 {
    width: 25%;
    padding: 4px;
    position: relative;
    a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        display: inline-block;
        padding: 5px 0px;
        width: 100%;
        text-align: center;
    }
    img {
        width: 100%;
    }
    .price__-2068594430 {

    }
}