
.product-list {
    margin: 30px 0px 40px;

    .ui.grid {
        margin: 0px;
    }

    .column {
        text-align: center;
        padding: 6px !important;
    }
}

.product-list__product {
    color: black;
    display: inline-block;
    max-width: 350px;
    width: 100%;

    img {
        width: 100%;
        transition: all 200ms;
    }

    &:hover {
        img {
            transform: scale(1.04, 1.04);
        }
    }
}

.product-list__content {
    padding: 2px 15px 12px;
    text-align: center;
}

.product-list__name {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 5px 0px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1rem;
}

.product-list__price {
    font-size: 2rem;
    color: inherit;
}