
.product-filter {
    .sidebar-section__content {
        .ui.checkbox {
            display: block;
            margin: 11px 0px;
        }
    }
}

.product-filter__term {
    &--color {
        display: inline-block;
        div {
            width: 18px;
            height: 18px;
            background: black;
            border-radius: 50%;
            margin: 2px 8px;
            margin-left: 0px;
        }
    }
}

.category-term {
    cursor: pointer;
    padding-left: 12px;

    &--active {
        font-weight: bold;
    }
}