
.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-list__product {
    width: calc(25% - 8px);
    margin: 4px;
    position: relative;
    border: solid 1px #e6e6e6;
    a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        display: inline-block;
        padding: 5px 0px;
        width: 100%;
        text-align: left;
    }
    img {
        width: 100%;
    }
}

.product-list__content {
    padding: 7px 15px 12px;
}

.product-list__price {

}