
.sidebar {
    width: 300px;
    padding-right: 8px;
}

.sidebar-section {
    background-color: #ececec;
    padding: 13px;
    margin-bottom: 20px;

    &.sidebar-section--closed {
        .sidebar-section__content {
            height: 0px;
        }
    }
}

.sidebar-section__header {
    border-bottom: solid 1px #cacaca;
    display: flex;
    padding-bottom: 9px;
    cursor: pointer;
    padding-top: 10px;
    margin-top: -10px;

    h2 {
        font-size: 1.2rem;
        flex: 1;
        margin-bottom: 0px;
    }
}

.sidebar-section__content {
    overflow: hidden;
    margin-top: 10px;
}

.sidebar-link {
    display: block;
    padding: 5px 0px;
    padding-left: 20px;
    color: #333333;
    cursor: pointer;

    &:hover {
        background-color: #d8d8d8;
        color: inherit;
    }
}