/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
*.iml
node_modules
.shadow-cljs
.env
/resources/public/files/js
/resources/public/files/css
/storage
/resources/config.edn