*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/target/
figwheel_server.log
pom.xml
pom.xml.asc
/*.iml
/.idea
/*.sublime-*

/profiles.clj
/datomic/config/transactor.properties
/datomic/.credentials
.env

/resources/public/files/js/compiled/**
/resources/public/files/css
/resources/public/files/lib
/resources/public/files/img
/resources/public/files/resources
/resources/generation/images
/resources/*.pem
/resources/config.edn
/resources/demo

/storage/*
!/storage/logo.png