@import "./components/preheader";
@import "./components/heading";
@import "./components/header";
@import "./components/footer";
@import "./components/skeleton";

@import "./pages/cart";
@import "./pages/category";
@import "./pages/checkout";
@import "./pages/frontend";
@import "./pages/login";
@import "./pages/product";
@import "./pages/profile";