@import "../../_variables";

.admin-dashboard__users {
    margin: 0;
    padding: 0;
}

.admin-dashboard__user {
    padding: 8px 0px;
    display: flex;
    border-bottom: solid 1px #ddd;
    flex-direction: row;

    > a {
        display: flex;
        width: 100%;

        p:first-child {
            width: 100%;
        }
    }

    p {
        white-space: nowrap;
        margin-bottom: 0;
    }
}

.admin-dashboard__traffic-statistics {
    .ui.segment {
        display: flex;
        flex-wrap: wrap;
    }

    .ui.header {
        width: 100%;
        flex: 1;
    }
}

.pending-orders__order {
    color: #4183c4;
    cursor: pointer;

    &--acknowledged {
        background-color: lighten($yellow, 45);
    }
    &--ready {
        background-color: lighten($green, 73);
    }
    &--unpaid {
        background-color: lighten($red, 48);
    }
    &--paid {
        background-color: lighten($orange, 23);
    }
}

.ui.button.pending-orders__button {
    background: white;
    color: black;
    border: solid 1px #b9b9b9;
}

.pending-orders__address {
    display: inline-block;
    vertical-align: top;
}