
.admin-statistics__traffic {
}

.admin-statistics__traffic-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;

    .ui.header {
        margin: 0px 15px 0px 0px;
    }
}

.admin-statistics__traffic-custom {
    display: flex;
    align-items: center;

    span {
        margin-right: 5px;
    }

    .date-range-input {
        margin-right: 6px;
    }

    .ui.form {
        display: inline-flex;
        align-items: center;

        .field {
            margin: 0px 6px 0px;

            > label {
                margin: 0px;
            }

            input {
                width: 65px;
                padding: .67857143em 1em !important;
            }
        }
    }
}
.admin-statistics__traffic-realtime {
    @extend .admin-statistics__traffic-custom;
}