

.cart-page__content {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.cart-page__sidebar {
    width: 300px;
}

.cart-page__sidebar-inner {
    border: solid 1px #ccc;
}

.cart-page__sidebar-content {
    padding: 15px;
}

.cart-page__sidebar-heading {
    text-align: center;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

.cart-page__lines {
    flex: 1;
    margin-right: 25px;
}

.cart-page__line {
    border: solid 1px #ccc;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

.cart-page__line-thumbnail {

}

.cart-page__line-content {
    flex: 1;
    padding: 0px 15px;
}

.cart-page__discount {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;

    p {
        font-weight: 400;
        font-size: 1.1rem;
        width: 100%;
        margin-bottom: 8px;
    }

    .field {
        display: inline-block;
        flex: 1;
        .ui.input {
            width: 100%;
        }
    }

    .ui.button {
        margin: 0;
    }
}

.cart-page__totals {
    width: 100%;
    margin-bottom: 15px;

    tr {
        td {
            padding: 3px 0px;

            &:last-child {
                text-align: right;
            }
        }
    }
}

.cart-page__checkout {
    width: 100%;
}

.cart-page__name {
    margin-bottom: 15px;
    h4 {
        font-size: 1.4rem;
        font-weight: lighter;
    }
}

.cart-page__price {
    margin-bottom: 10px;
}

.cart-page__terms {
    margin-bottom: 10px;
}

.cart-page__actions {
}

.cart-page__term {
    display: inline-block;
    vertical-align: middle;

    .term {
        margin-left: 0px;
        margin-right: 8px;
    }

    .term--default {
        width: 29px;
        line-height: 29px;
        height: 29px;
    }

    .term--color {
        width: 25px;
        height: 25px;
    }

    p {
        display: inline-block;
        margin: 0px;
        margin-right: 5px;
    }
    > * {
        vertical-align: middle;
    }
}