
.category-page {
    margin: 20px 0px;
    display: flex !important;
}

.category-page__content {
    width: 100%;
}

.category-page__header {
    margin: 7px 11px 25px;
    display: flex;
    align-items: center;

    h2 {
        font-size: 1.4rem;
    }

    .ui.header {
        width: 100%;
        margin: 0px;
    }
}