
.orders-page__order-top {
    display: flex;
    width: 100%;
}

.orders-page__order-price {
    white-space: nowrap;
    width: 100%;
}

.orders-page__order-created-at {
    width: 100%;
    text-align: right;
}

.orders-page__line {
    display: flex;
}

.orders-page__line-title {
    width: 100%;
}

.orders-page__line-image {
    img {
        width: 70px;
    }
}

.orders-page__line-info {
    margin-left: 10px;
}