
.product-page {
    @media (max-width: 1199px) {
        .ui.container {
            width: auto;
        }
    }
}
.product-page__top {
    display: flex;
    margin: 15px;

    @media (max-width: 1199px) {
        display: block;
    }
}

.product-page__mobile-images {
    display: none;
    align-items: center;

    .product-page__images-inner {
        flex-direction: row;
    }

    .product-page__image {
        margin: 0px 6px;
    }

    @media (max-width: 1199px) {
        display: flex;
    }
}

.product-page__images {
    @media (max-width: 1199px) {
        display: none;
    }
}

.product-page__images-wrapper {
    max-height: 180px * 3 + 6 * 3;
    overflow: hidden;
    padding: 0px 4px;
}

.product-page__images-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: top,left 250ms;
}

.product-page__image {
    margin: 3px 0px;
    user-select: none;

    &--active, &:hover {
        .image-component {
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
            transition: box-shadow 250ms;
        }
    }

    img {
        cursor: pointer;
    }
}

.product-page__main-image {
    margin: 0px 35px;

    @media (max-width: 1199px) {
        display: none;
    }
}

.product-page__up,
.product-page__down,
 .product-page__left,
 .product-page__right {
    text-align: center;
    margin: 7px 0px;

    .icon {
        width: auto;
        height: auto;
        line-height: normal;
        display: inline-block;
        border: solid 2px #212121;
        border-radius: 50%;
        padding: 7px;
        color: #212121;
        margin: 0px;
    }
}

.product-page__left,
.product-page__right {
    margin: 0px 7px;

    .icon {
        padding: 7px 9px;
    }
}

.product-page__info {
    padding: 25px;
    width: 100%;
    background-color: #ececec;
}

.product-page__name {
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #212121;
    margin-bottom: 0px !important;
}

.product-page__price {
    font-size: 32px;
    color: #0092c5;
    font-weight: 400;
    margin: 5px 0px !important;
    display: inline-block;
}

.product-page__description {
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    margin: 10px 0px;
}

.product-page__heart,
.product-page__add-to-cart {
    border: 0px;
    vertical-align: top;
    border-radius: 4px;
}

.product-page__heart {
    color: white;
    padding: 7px 11px;
    color: #940000;
    border: solid 1px #b9b9b9;
    font-size: 20px;
    background: white;
    margin-right: 10px;

    &:hover, &.product-page__heart--active {
        .icon:before {
            content: "\f004" !important;
        }
    }

    .icon {
        margin: 0px;
    }
}

.product-page__add-to-cart {
    text-transform: uppercase;
    background-color: #04739a;
    color: white;
    padding: 9px 15px;
    padding-left: 13px;

    .icon {
        margin-right: 7px;
    }
}

.product-page__actions {
    margin: 15px 0px;
}

.product-page__taxonomy {
    margin: 10px 0px;
    border: solid 0px #cccccc;
    border-top-width: 1px;
    padding: 15px 0px;

    h4 {
        font-weight: 400;
        font-size: 1.15rem;
    }
}

.product-page__terms {
    .term.term--color {
        width: 25px;
        height: 25px;
    }
}

.product-page__details {
    background-color: #ececec;

    .container {
        padding: 20px 0px;
    }
}

.product-page__details-inner {
    background-color: white;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
}