
.heading {
    position: relative;
}
.heading__line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    height: 3px;
    z-index: 0;
    background-color: #f2f4f5;
}
.heading__text {
    text-align: center;
    position: relative;
    margin: 36px 0 50px;
    h3 {
        text-transform: uppercase;
        display: inline-block;
        margin: 0;
        background-color: white;
        padding: 4px 17px;
        font-size: 24px;
        font-family: 'Raleway',sans-serif;
        color: #0092c5;
        background-color: #ecf0f1;
    }
}
