
.skeleton-header {
    background-color: #2c3e50;
    padding: 18px 0;
    .ui.container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.skeleton-header__logo {
    width: 60px;

    img {
        width: 100%;
    }
}

.skeleton-header__right {
    width: 100%;
    text-align: right;
    height: 40px;
}
.skeleton-header__info {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.skeleton-header__buttons {
    margin-left: 35px;
    display: inline-block;
    vertical-align: middle;

    button {
        background-color: #c62134;
        border: 0px;
        color: white;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 6px 11px 6px 7px;
        margin: 0px 6px;
        .icon {
            margin-right: 5px;
        }
    }
}

.ui.vertical.menu.skeleton-header__user-menu {
    position: absolute;
    margin-top: 7px;
    width: auto;
    display: none;
    &.visible {
        display: block;
    }
}
