
.admin-products-edit__image {
    display: inline-block;
    position: relative;

    img.ui.image {
        margin: 0;
    }

    .ui.icon {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.admin-products-edit__images {
    .ui.small.image {
        height: 150px;
    }
    .draggable-list__item {
        display: inline-block;
    }
}

.ui.small.image.admin-products-edit__image-placeholder {
    background-color: #d0d0d0;
    font-size: 2.5rem;

    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        line-height: normal;
    }

    input {
        display: none;
    }
}
