;;
;; Don't edit this file, create "config.edn" and edit that instead.
;;

{:database {:url "datomic:dev://localhost:4334/ventas"}
 :server {:port 3450
          :host "localhost"}
 :elasticsearch {:index "ventas"
                 :port 9200
                 :host "127.0.0.1"}
 :nrepl {:port 4001
         :host "localhost"}
 :debug true
 :cljs-port 3001
 :auth-secret "CHANGEME"

 ;; current leiningen profile
 :profile "unset"

 ;; recommended `false` for Emacs:
 :embed-figwheel? true

 ;; recommended `true` for Emacs users:
 :strict-classloading false}