;;
;; Don't edit this file, create "config.edn" and edit that instead.
;;

{:database {:url "datomic:dev://localhost:4334/ventas"}

 :server {:port 3450
          :host "localhost"
          ;; chrome-headless needs this in production to be able to
          ;; access the http server
          ;; in production this should be the name given in docker-compose.yml
          ;; to the ventas container
          :docker-host nil}

 :elasticsearch {:index "ventas"
                 :port 9200
                 :host "127.0.0.1"}

 :nrepl {:port 4001
         :host "localhost"}

 :debug true

 :cljs-port 3001

 ;; used for JWTs
 :auth-secret "CHANGEME"

 ;; used for prerendering
 ;; setting a nil host will cause ventas to try to spawn an instance
 ;; of chrome-headless
 :chrome-headless {:host nil
                   :port 4444}

 ;; current leiningen profile
 :profile "unset"

 ;; recommended `false` for Emacs:
 :embed-figwheel? true

 ;; recommended `true` for Emacs users:
 :strict-classloading false}