{:enums
 {:condition
  {:description "Product conditions"
   :values [:new :used :refurbished]}}
 :objects
 {:product
  {:fields {:id {:type String}
            :name {:type String}
            :reference {:type String}
            :ean13 {:type String}
            :active {:type Boolean}
            :condition {:type (list :condition)}
            :description {:type String}
            :tags {:type (list String)}
            :brand {:type :brand}
            :tax {:type :tax}}}
  :brand
  {:fields {:id {:type String}
            :name {:type String}
            :description {:type String}
            :logo {:type :file}}}

  :tax
  {:fields {:id {:type String}
            :name {:type String}
            :percentage {:type Float}}}
  :file
  {:fields {:id {:type String}
            :url {:type String}}}}

 :queries
 {:product {:type (non-null :product)
         :args {:id {:type String}}
         :resolve :get-product}}}
