
.header__1653201707 {
    background-color: #2c3e50;
    padding: 18px 0;
    .ui.container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.header-right__1653201707 {
    width: 100%;
    text-align: right;
    height: 40px;
}
.header-info__1653201707 {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.header-info-shipping__1653201707 {
    color: white;
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    font-family: 'Raleway',sans-serif;
    font-size: 19px;
    border-right: solid 1px white;
}
.header-info-from__1653201707 {
    display: inline-block;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    color: white;
    text-align: left;
}
.header-buttons__1653201707 {
    margin-left: 35px;
    display: inline-block;
    vertical-align: middle;

    button {
        background-color: #c62134;
        border: 0px;
        color: white;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 6px 11px 6px 7px;
        margin: 0px 6px;
        .icon {
            margin-right: 5px;
        }
    }
}

.ui.vertical.menu.user-menu__1653201707 {
    position: absolute;
    margin-top: 7px;
    width: auto;
    display: none;
    &.visible {
        display: block;
    }
}
