
.slide__-1468201183 {
    position: absolute;
    bottom: 40px;
    width: 100%;
    .ui.container {
        text-align: right;
    }
    .content__-1468201183 {
        display: inline-block;
        text-align: left;
    }
    h1 {
        font-family: 'Lato',sans-serif;
        font-size: 56px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        border-bottom: solid 3px white;
        padding-bottom: 9px;
        margin-bottom: 15px;
        margin-top: 5px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.38);
    }
    h2 {
        font-family: 'Lato',sans-serif;
        font-size: 18px;
        color: white;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.38);
        margin: 0px;
    }
    .text__-1468201183 {
        background-color: #2c3e50;
        font-family: 'Lato',sans-serif;
        font-weight: 300;
        font-size: 22px;
        color: white;
        text-transform: uppercase;
        padding: 1px 13px;
        display: inline-block;
        margin-bottom: 0px;
    }
}