
.ui.segment.segment__-1505837922 {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 40px);
    margin: 10px 20px !important;

    .ui.form {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.forgot-password__-1505837922 {
    display: block;
    margin: 14px 0px;
}

.page__-1505837922 {
    margin: 30px 0px 40px;
}