
.footer {
    background-color: #212121;
}

.footer__columns {
    display: flex;
    flex-direction: row;
    padding: 25px 0px 30px;
}

.footer__column {
    padding: 5px;
    color: white;
    width: 33.33333%;
    padding: 0px 20px;

    h4 {
        text-transform: uppercase;
    }

    ul {
        padding-left: 25px;
    }

    a {
        color: white;
        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
}