
$skeleton-header-logo-width: 60px;

.skeleton-header {
    .ui.container {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 700px) {
            display: block;
        }
    }
}

.skeleton-header__logo {
    text-align: center;
    line-height: 0px;
    min-height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.skeleton-header__info {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.skeleton-header__search {
    display: inline-block;
    vertical-align: middle;
    width: calc(50% - #{$skeleton-header-logo-width / 2});

    .ui.search.dropdown.selection {
        min-width: 280px;
        min-height: 0px;
        padding-top: 11px;
        padding-bottom: 11px;

        .search {
            padding-top: inherit;
            padding-bottom: inherit;
        }
    }
}

.skeleton-header__buttons {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
    width: calc(50% - #{$skeleton-header-logo-width / 2});
    text-align: right;
    position: relative;
    top: 3px;

    > div {
        display: inline-block;
        padding: 0px 8px;
        color: #212121;
        cursor: pointer;

        .icon {
            display: block;
            width: 100%;
            font-size: 2.4rem;
            height: 2rem;
            color: inherit;
            position: relative;
            margin-bottom: 5px;
            &:before {
                position: relative;
                top: 5px;
            }
        }

        span {
            font-size: 1.05rem;
            color: inherit;
        }

        .ui.vertical.menu {
            z-index: 1;
            margin-top: 4px;
        }

        &:after {
            transition: opacity 200ms;
            content: " ";
            display: block;
            width: calc(100% + 6px);
            height: 2px;
            background: #212121;
            position: relative;
            left: -3px;
            top: 2px;
            opacity: 0;
        }

        &:hover {
            .ui.menu {
                display: block !important;
            }
            &:after {
                opacity: 1;
            }
        }


    }
}
.skeleton-header__cart {
    position: relative;
}

.skeleton-header__cart-count {
    position: absolute;
    font-weight: bold;
    left: 3px;
    top: -15px;
    text-align: center;
    width: 100%;
}

.ui.vertical.menu.skeleton-header__user-menu {
    position: absolute;
    margin-top: 7px;
    width: auto;
    display: none;
    &.visible {
        display: block;
    }
}

.search-result {
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: #eaeaea;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 5px;
    }

}

.search-result__right {
    display: inline-block;
    vertical-align: middle;

    p {
        margin: 0;
    }
}

.search-result__name {
    font-weight: bold;
}