.admin__skeleton {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
}

.admin__menu-item {
    &--active {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.admin__sidebar {
    min-height: calc(100vh - 35px);
    min-width: 160px;
    background-color: #212121;
    padding-top: 15px;

    h3 {
        padding: 0px 10px;
        color: white;
    }

    ul {
        padding: 0px;

        li {
            display: block;
            font-size: 1.0rem;
            position: relative;

            .icon {
                margin-right: 5px;
            }

            a {
                display: block;
                color: #d4d4d4;
                padding: 8px 25px 8px 15px;
            }

            ul {
                position: absolute;
                display: none;
                top: 0;
                left: 100%;
                width: auto;
                background-color: #696969;
                z-index: 1;

                &:before {
                    display: block;
                    content: " ";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -8px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 8px 7px 0;
                    border-color: transparent #696969 transparent transparent;
                    margin: auto;
                }

                li {
                    white-space: nowrap;

                    &:hover {
                        background-color: inherit;

                        a {
                            color: #eaeaea;
                        }
                    }
                }
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);

                ul {
                    display: block;
                }
            }
        }
    }
}

.admin__menu {
    li {
        color: white;
    }
}

.admin__login-wrapper {
    max-width: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}

.admin__login {
    width: 100%;

    .ui.form {
        margin: 10px 0px 5px;
    }
}

.admin__login-image {
    text-align: center;

    img {
        width: 50px;
    }
}

.admin__content {
    width: 100%;
}

.admin__default-content {
    padding: 15px;
}

.admin__userbar {
    position: fixed;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: row;
    min-height: 35px;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.admin__userbar-logo {
    padding: 6px;

    img {
        display: block;
        width: 23px;
    }
}

.admin__userbar-profile {
    position: absolute;
    right: 5px;
    top: 0;
    padding: 8px;
}

.admin__userbar-home {

    &:hover {
        background-color: rgba(255,255,255,0.1);
    }

    a {
        padding: 7px 13px 7px 9px;
        display: inline-block;
        color: inherit !important;
    }

    .icon {
        font-size: 1.2rem;
    }
}

@import "./admin/users";
@import "./admin/products";
@import "./admin/taxes";
@import "./admin/activity-log";
@import "./admin/dashboard";