.admin__skeleton {
    display: flex;
    flex-direction: row;
}

.admin__sidebar {
    min-height: 100vh;
    min-width: 250px;
    background-color: #212121;
    padding-top: 10px;

    h3 {
        padding: 0px 10px;
        color: white;
    }

    ul {
        padding: 0px;

        li {
            display: block;
            font-size: 1.1rem;

            a {
                display: block;
                color: #d4d4d4;
                padding: 6px 25px;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            li {
                padding-left: 20px;
            }
        }
    }
}

.admin__menu {
    li {
        color: white;
    }
}


.admin__content {
    width: 100%;
}

.admin__default-content {
    padding: 15px;
}

@import "ventas/pages/admin/users";
@import "ventas/pages/admin/products";
@import "ventas/pages/admin/taxes";
@import "ventas/pages/admin/activity-log";