@charset "UTF-8";

@import '../lib/normalize-css/normalize.css';

html {
    min-height: 100vh;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
}

.main {
    margin: 15px;
}

.ui.menu {
    width: 250px;
    min-height: 100vh;
    flex: none;
    background-color: #e2e2e2;
    border-radius: 0px !important;
}

.menu.item {
    display: block;
    text-decoration: none;
    color: black;
    padding: 6px 10px;
}

body.animating.in.dimmable, body.dimmed.dimmable {
    overflow: visible !important;
}

@import "ventas/components/category-list";
@import "ventas/components/popup";
@import "ventas/components/product-list";
@import "ventas/components/notificator";
@import "ventas/components/cookies";
@import "ventas/components/menu";
@import "ventas/components/slider";
@import "ventas/components/breadcrumbs";
@import "ventas/themes/mariscosriasbajas/core";