@charset "UTF-8";

@import '../lib/normalize-css/normalize.css';

html {
    min-height: 100vh;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
}

.main {
    margin: 15px;
}

.menu.item {
    display: block;
    text-decoration: none;
    color: black;
    padding: 6px 10px;
}

body.animating.in.dimmable, body.dimmed.dimmable {
    overflow: visible !important;
}

@import "./components/base";
@import "./components/category-list";
@import "./components/cart";
@import "./components/popup";
@import "./components/product-list";
@import "./components/product-filters";
@import "./components/notificator";
@import "./components/cookies";
@import "./components/menu";
@import "./components/sidebar";
@import "./components/breadcrumbs";
@import "./themes/clothing/core";
@import "./plugins/slider/core";
@import "./pages/admin";