@charset "UTF-8";

@import '../lib/normalize-css/normalize.css';

html {
    min-height: 100vh;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
}

.main {
    margin: 15px;
}

.menu.item {
    display: block;
    text-decoration: none;
    color: black;
    padding: 6px 10px;
}

body.animating.in.dimmable, body.dimmed.dimmable {
    overflow: visible !important;
}

@import "./ventas/components/base";
@import "./ventas/components/category-list";
@import "./ventas/components/cart";
@import "./ventas/components/draggable-list";
@import "./ventas/components/error";
@import "./ventas/components/image";
@import "./ventas/components/i18n-input";
@import "./ventas/components/popup";
@import "./ventas/components/product-list";
@import "./ventas/components/product-filters";
@import "./ventas/components/notificator";
@import "./ventas/components/cookies";
@import "./ventas/components/menu";
@import "./ventas/components/sidebar";
@import "./ventas/components/table";
@import "./ventas/components/term";
@import "./ventas/components/breadcrumbs";
@import "./ventas/themes/clothing/core";
@import "./ventas/plugins/slider/core";
@import "./ventas/plugins/api/core";
@import "./ventas/pages/admin";