

.cart-page__content {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.cart-page__sidebar {
    width: 300px;
}

.cart-page__sidebar-inner {
    border: solid 1px #ccc;
}

.cart-page__sidebar-content {
    padding: 15px;
}

.cart-page__sidebar-heading {
    text-align: center;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

.cart-page__lines {
    flex: 1;
    margin-right: 25px;
}

.cart-page__line {
    border: solid 1px #ccc;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

.cart-page__line-thumbnail {

}

.cart-page__line-content {
    flex: 1;
    padding: 0px 15px;
}

.cart-page__discount {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;

    p {
        font-weight: 400;
        font-size: 1.1rem;
        width: 100%;
        margin-bottom: 8px;
    }

    .field {
        display: inline-block;
        flex: 1;
        .ui.input {
            width: 100%;
        }
    }

    .ui.button {
        margin: 0;
    }
}

.cart-page__totals {
    width: 100%;
    margin-bottom: 15px;

    tr {
        td {
            padding: 3px 0px;

            &:last-child {
                text-align: right;
            }
        }
    }
}

.cart-page__checkout {
    width: 100%;
}

.cart-page__name, .cart-page__price {
    margin-bottom: 5px;
}

.cart-page__price {
    margin-bottom: 15px;
}

.cart-page__terms {
    width: 200px;
    min-height: 71px;

    tr {

        td {
            padding: 6px 10px;
            padding-left: 0px;

            &:last-child {
                text-align: right;
            }

        }
    }
}

.cart-page__actions {
    margin-top: 15px;
}

.cart-page__term {
    margin: 4px 0px;
    p {
        display: inline-block;
        margin: 0px;
        margin-right: 5px;
    }
    > * {
        vertical-align: middle;
    }
}