
.login-page {
    margin: 30px 0px 40px;
}

.ui.segment.login-page__segment {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 40px);
    margin: 10px 20px !important;

    .ui.form {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

.login-page__forgot-password {
    display: block;
    margin: 14px 0px;
}

