
.product-page__top {
    display: flex;
    margin: 15px;
}

.product-page__images {
    position: relative;
    display: flex;
    flex-direction: column;
    img {
        width: 200px;
    }
}

.product-page__image {
    margin: 3px 0px;
}

.product-page__info {
    margin: 15px;
}

.product-page__name {
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #2c3e50;
    margin-bottom: 0px !important;
}

.product-page__price {
    font-size: 24px;
    color: #0092c5;
    margin: 0px !important;
}

.product-page__description {
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    margin: 10px 0px;
}