
.product-page__top {
    display: flex;
    margin: 15px;
}

.product-page__images {
}

.product-page__images-main {
    max-height: 180px * 3 + 6 * 3;
    overflow: hidden;
}

.product-page__images-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: top 250ms;
}

.product-page__up,
.product-page__down {
    text-align: center;
    margin: 7px 0px;

    .icon {
        width: auto;
        height: auto;
        line-height: normal;
        display: inline-block;
        border: solid 2px #2c3e50;
        border-radius: 50%;
        padding: 7px;
        color: #2c3e50;
    }
}

.product-page__image {
    margin: 3px 0px;
}

.product-page__info {
    margin: 15px;
}

.product-page__name {
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #2c3e50;
    margin-bottom: 0px !important;
}

.product-page__price {
    font-size: 24px;
    color: #0092c5;
    margin: 0px !important;
}

.product-page__description {
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    margin: 10px 0px;
}