
.product-page__top {
    display: flex;
    margin: 15px;
}

.product-page__images {
}

.product-page__images-wrapper {
    max-height: 180px * 3 + 6 * 3;
    overflow: hidden;
}

.product-page__images-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: top 250ms;
}

.product-page__image {
    margin: 3px 0px;
    user-select: none;
}

.product-page__main-image {
    margin: 0px 35px;
}

.product-page__up,
.product-page__down {
    text-align: center;
    margin: 7px 0px;

    .icon {
        width: auto;
        height: auto;
        line-height: normal;
        display: inline-block;
        border: solid 2px #2c3e50;
        border-radius: 50%;
        padding: 7px;
        color: #2c3e50;
    }
}



.product-page__info {
    padding: 25px;
    width: 100%;
    background-color: #ececec;
}

.product-page__name {
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #2c3e50;
    margin-bottom: 0px !important;
}

.product-page__price {
    font-size: 32px;
    color: #0092c5;
    font-weight: 400;
    margin: 5px 0px !important;
    display: inline-block;
}

.product-page__description {
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    margin: 10px 0px;
}

.product-page__heart,
.product-page__add-to-cart {
    border: 0px;
    vertical-align: top;
    border-radius: 4px;
}

.product-page__heart {
    color: white;
    padding: 7px 11px;
    color: #940000;
    border: solid 1px #b9b9b9;
    font-size: 20px;
    background: white;
    margin-right: 10px;

    &:hover {
        .icon:before {
            content: "\f004" !important;
        }
    }

    .icon {
        margin: 0px;
    }
}

.product-page__add-to-cart {
    text-transform: uppercase;
    background-color: #04739a;
    color: white;
    padding: 9px 15px;
    padding-left: 13px;

    .icon {
        margin-right: 7px;
    }
}

.product-page__actions {
    margin: 15px 0px;
}

.product-page__taxonomy {
    margin: 10px 0px;
    border: solid 0px #cccccc;
    border-top-width: 1px;
    padding: 15px 0px;

    h4 {
        font-weight: 400;
        font-size: 1.2rem;
    }
}

.product-page__term {
    display: inline-block;

    &--color {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: solid 2px white;
        box-shadow: 0px 0px 0px 2px #9e9e9e;
    }
}