[

  {:db/ident :schema/deprecated
   :db/valueType :db.type/boolean
   :db/cardinality :db.cardinality/one}

  {:db/ident :schema/see-instead
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one}

  {:db/ident :schema/type
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  {:db/ident :schema.type/user}
  {:db/ident :schema.type/comment}
  {:db/ident :schema.type/image}

  ;; Users

  {:db/ident :user/name
   :db/valueType :db.type/string
   :db/fulltext true
   :db/index true
   :db/cardinality :db.cardinality/one}

  {:db/ident :user/password
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/ident :user/email
   :db/valueType :db.type/string
   :db/index true
   :db/unique :db.unique/identity
   :db/cardinality :db.cardinality/one}

  ;; Files

  {:db/ident :user/avatar
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  {:db/ident :file/extension
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  {:db/ident :file.extension/png}
  {:db/ident :file.extension/jpg}
  {:db/ident :file.extension/gif}
  {:db/ident :file.extension/tiff}

  ;; Status

  {:db/ident :user/status
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  {:db/ident :user.status/pending}
  {:db/ident :user.status/active}
  {:db/ident :user.status/inactive}
  {:db/ident :user.status/cancelled}

  {:db/ident :user/roles
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many}

  {:db/ident :user.role/administrator}
  {:db/ident :user.role/user}
  
]