[

 {:db/ident :product-variation/product
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :product-variation/attribute-values
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many}

 {:db/ident :schema.type/product-variation}


 {:db/ident :attribute/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :schema.type/attribute}


 {:db/ident :attribute-value/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :attribute-value/attribute
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :schema.type/attribute-value}


 ]