[

 {:db/ident :configuration/key
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :configuration/value
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :schema.type/configuration}


 ]