[
  
  ;; Products

  {:db/ident :product/name
   :db/valueType :db.type/string
   :db/index true
   :db/cardinality :db.cardinality/one}

  {:db/ident :product/reference
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/ident :product/ean13
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/ident :product/active
   :db/valueType :db.type/boolean
   :db/cardinality :db.cardinality/one}

  {:db/ident :product/active
   :db/valueType :db.type/boolean
   :db/cardinality :db.cardinality/one}

  {:db/ident :product/condition
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  {:db/ident :product.condition/new}
  {:db/ident :product.condition/used}
  {:db/ident :product.condition/refurbished}

  {:db/ident :product/description
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  ;; Tags

  {:db/ident :product/tags
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/many}

  ;; Taxes

  {:db/ident :tax/name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/ident :tax/amount
   :db/valueType :db.type/float
   :db/cardinality :db.cardinality/one}

  {:db/ident :tax/type
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  {:db/ident :tax.type/percentage}
  {:db/ident :tax.type/amount}

  {:db/ident :product/tax
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  ;; Brands

  {:db/ident :brand/name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/ident :brand/description
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}

  {:db/ident :brand/logo
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  {:db/ident :product/brand
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  ;; Features

  {:db/ident :feature/name
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one}






]