[

 {:db/ident :tax.type/percentage
  :schema/deprecated true
  :schema/see-instead :tax.kind}

 {:db/ident :tax.type/amount
  :schema/deprecated true
  :schema/see-instead :tax.kind}

 {:db/ident :tax.kind/percentage}
 {:db/ident :tax.kind/amount}

]