[{:db/ident :order/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :order/status
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :order.status/unpaid}
 {:db/ident :order.status/paid}
 {:db/ident :order.status/acknowledged}
 {:db/ident :order.status/ready}
 {:db/ident :order.status/shipped}

 {:db/ident :order/shipping-address
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :order/billing-address
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :order/shipping-method
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :order/payment-method
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :order/shipping-comments
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :order/payment-reference
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :schema.type/order}


 {:db/ident :order-line/order
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :order-line/product
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :order-line/quantity
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :order-line/product-variation
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :schema.type/order-line}]