[

  {:db/ident :schema/type
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one}

  {:db/ident :schema.type/user}
  {:db/ident :schema.type/comment}
  {:db/ident :schema.type/image}

]