[{:db/ident :ventas/pluginId
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one}

 {:db/ident :ventas/pluginVersion
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}]