[{:db/ident :country/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :schema.type/country}

 {:db/ident :state/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :schema.type/state}

 {:db/ident :address/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :address/person-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :address/address
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :address/zip
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one}

 {:db/ident :address/city
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :address/country
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :address/state
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one}

 {:db/ident :address/comments
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :address/phone
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one}

 {:db/ident :schema.type/address}]
